*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 52.5%;
}
body{
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    background-color: rgba(186, 246, 232, 0.667);
}
header span{
    background-image: url(https://i.pinimg.com/originals/a7/62/e1/a762e1e3ba2f96dc23166274ed0cea82.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
header h1{
    font-size: 4rem;
}
.move-ball-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.move-ball-container .move-ball {
    width: 80%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.24);
    position: relative;
    border-radius: 10px;
    margin-top: 30px;
}
.move-ball-container .move-ball .pelotita {
    position: absolute;
    background-image: url('https://i.pinimg.com/originals/a7/62/e1/a762e1e3ba2f96dc23166274ed0cea82.png');
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
    transition:all 0.2s ease;
}
.move-ball-container .move-ball .positionInitial{
    top: calc(50% - 35px);
    left: calc(50% - 35px);
}
.play-game-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}